a:focus, a:hover {
    border: 2px solid #5b2084;
}
#main a {
    color: #724096;
    text-decoration: underline;
}
.navbar {
    background-color: #ffffff;
    font-size: 1.25em;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.nav-menu ul {
    background-color: #ffffff;
    color: #000000;
}

.nav-menu li:focus > a,
.nav-menu li:hover > a,
.nav-menu li a:focus,
.nav-menu li a:hover {
    background-color: #ffffff;
    color: #5b2084;
    padding: 13px 18px;
}

.nav-menu .sub-menu,
.nav-menu .children {
    background-color: #724096;
    color: #ffffff;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
    background-color: #ffffff;
    color: #430073;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
}
